.bar-container {
    background: white;
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bar {
    border-radius: 20px;
    background: #27356F;
    width: 100px;
    height: 100%;
  }
  