<div class="sm:mx-5 lg:mt-10 2xl:mt-0">
  <div class="flex flex-wrap sm:gap-2">
    <div class="w-[300px] mx-auto mt-5 lg:w-[270px] lg:mx-0 lg:mt-0">
      <img class="mx-auto mb-5" src="/map.svg" alt="Localização" />
      <p class="uppercase font-semibold text-[1rem] text-primary text-center">
        Rua Pedro Rodrigues 86, São Paulo, São Paulo 08150-110, BR
      </p>
    </div>
    <div
      class="w-[300px] mx-auto mt-5 lg:w-[270px] lg:mx-0 lg:mt-0 sm:order-last lg:-order-none"
    >
      <img class="mx-auto mb-5" src="/phone.svg" alt="Celular" />
      <p class="uppercase font-semibold text-[1rem] text-primary text-center">
        (11) 99160-2312
      </p>
    </div>

    <div class="w-[300px] mx-auto mt-5 lg:w-[270px] lg:mx-0 lg:mt-0">
      <img class="mx-auto mb-5" src="/email.svg" alt="Email" />
      <p
        class="mx-auto uppercase font-semibold text-[1rem] text-primary text-center"
      >
        CONTATO@ALEXANDROGOMES.COM
      </p>
    </div>
  </div>
  <div class="mx-auto">
    <iframe
      class="mx-auto mt-10 w-[300px] sm:w-[600px] lg:w-[800px] xl:w-[850px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1973529954835!2d-46.6564943!3d-23.5613545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1691165720884!5m2!1spt-BR!2sbr"
      width="550"
      height="550"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="flex justify-center 2xl:justify-normal gap-5 mt-10">
    <a href="#"><img src="/whatsapp.svg" alt="Whatsapp" /></a>
    <a href="#"><img src="/facebook-contact.svg" alt="Facebook" /></a>
    <a href="#"><img src="/linkedin-contact.svg" alt="Linkedin" /></a>
  </div>
</div>
