---
import { links } from "../../constants";
---

<div class="sm:mx-5 lg:mt-10 2xl:mt-0">
  <div class="flex flex-wrap sm:gap-2">
    <div class="w-[300px] mx-auto mt-5 lg:w-[270px] lg:mx-0 lg:mt-0">
      <img class="mx-auto mb-5" src="/map.svg" alt="Localização" />
      <p class="uppercase font-semibold text-[1rem] text-primary text-center">
        Estrada das Nações 411, jd Iracema Barueri SP
      </p>
    </div>
    <div
      class="w-[300px] mx-auto mt-5 lg:w-[270px] lg:mx-0 lg:mt-0 sm:order-last lg:-order-none"
    >
      <img class="mx-auto mb-5" src="/phone.svg" alt="Celular" />
      <p class="uppercase font-semibold text-[1rem] text-primary text-center">
        (11) 94842-2225
      </p>
    </div>

    <div class="w-[300px] mx-auto mt-5 lg:w-[270px] lg:mx-0 lg:mt-0">
      <img class="mx-auto mb-5" src="/email.svg" alt="Email" />
      <p
        class="mx-auto uppercase font-semibold text-[1rem] text-primary text-center"
      >
        Alexsandro250776@gmail.com
      </p>
    </div>
  </div>
  <div class="mx-auto">
    <iframe
      class="mx-auto mt-10 w-[300px] sm:w-[600px] lg:w-[800px] xl:w-[850px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.4091391794223!2d-46.90039132393278!3d-23.517782578829877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf03fbd9c8eff5%3A0xab617d0171bceeb7!2sEstr.%20das%20Na%C3%A7%C3%B5es%2C%20411%20-%20Vila%20Iracema%2C%20Barueri%20-%20SP%2C%2006422-100!5e0!3m2!1spt-BR!2sbr!4v1709060226932!5m2!1spt-BR!2sbr"
      width="550"
      height="550"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      title="Mapa"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="flex justify-center 2xl:justify-normal gap-5 mt-10">
    <a href={links[0]} target="_blank"
      ><img class="h-[45px] w-[45px]" src="/whatsapp.svg" alt="Whatsapp" /></a
    >
    <a href={links[4]} target="_blank"
      ><img
        class="h-[45px] w-[45px]"
        src="/facebook-contact.svg"
        alt="Facebook"
      /></a
    >
    <a href={links[3]} target="_blank"
      ><img
        class="h-[45px] w-[45px]"
        src="/linkedin-contact.svg"
        alt="Linkedin"
      /></a
    >
  </div>
</div>
