---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import Text from "../../components/Text/Text.astro";
import Footer from "../../components/Footer/Footer.astro";
---

<Layout title="Serviços | Direito Empresarial">
  <Hero />
  <Text title="Direito Empresarial">
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        O Sucesso de Seu Negócio é Prioridade:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Como proprietário de um negócio sabemos o quanto é vital operar em
        conformidade com as leis empresariais.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Estamos focados em ajudá-lo a construir bases sólidas para o sucesso e
        crescimento sustentável.
      </li>
    </ul>
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Assessoria Estratégica para Empreendedores:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Seja você um empreendedor iniciante ou experiente nossa orientação legal
        e estratégica impulsionará seus negócios.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Desde a criação da empresa até a resolução de questões complexas
        estaremos ao seu lado.
      </li>
    </ul>
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Contratos e Transações Comerciais:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Negociações e acordos precisam estar devidamente documentados e
        protegidos legalmente.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Nossa experiência em contratos comerciais garantirá que suas transações
        sejam seguras e benéficas.
      </li>
    </ul>
  </Text>
  <Footer />
</Layout>
