---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import Text from "../../components/Text/Text.astro";
import Footer from "../../components/Footer/Footer.astro";
---

<Layout title="Serviços | Direito de Família">
  <Hero />
  <Text title="Direito de Família">
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Apoio Empático em Questões Familiares:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Questões familiares são delicadas e emocionais. Minha abordagem empática
        visa proporcionar tranquilidade durante períodos desafiadores.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Seja divórcio, custódia de crianças ou partilha de bens, estou aqui para
        representar seus interesses.
      </li>
    </ul>
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Buscando Soluções Amigáveis:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Enquanto defendo seus direitos, também promovo soluções amigáveis,
        especialmente quando há crianças envolvidas.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        A negociação e mediação podem aliviar tensões e preservar
        relacionamentos.
      </li>
    </ul>
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Divórcio e Partilha de Bens:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        O divórcio não precisa ser um processo litigioso. Minha expertise em
        direito de família ajudará a encontrar um acordo justo para ambas as
        partes.
      </li>
    </ul>
  </Text>
  <Footer />
</Layout>
