---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import Text from "../../components/Text/Text.astro";
import Footer from "../../components/Footer/Footer.astro";
---

<Layout title="Serviços | Direito do Consumidor">
  <Hero />
  <Text title="Direito do Consumidor">
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Seus Direitos Como Consumidor:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Como consumidor você merece produtos e serviços de qualidade, além de
        práticas comerciais honestas.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Estamos aqui para garantir que suas queixas sejam ouvidas e para buscar
        a compensação que você merece.
      </li>
    </ul>
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Proteção contra Práticas Enganosas:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Práticas enganosas e informações falsas são inaceitáveis na relação de
        consumo. Nossa abordagem é rigorosa contra práticas que violem a boa-fé
        e confiança.
      </li>
    </ul>
    <ul class="my-10">
      <li class="text-[1.6rem] font-semibold text-[#acbcfc]">
        Ação Legal Eficiente:
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Quando as negociações não são suficientes estamos preparados para levar
        seu caso aos tribunais.
      </li>
      <li class="text-[1.2rem] font-normal text-light my-3">
        Nossa dedicação em representar os seus interesses garantirá que você não
        seja prejudicado por produtos defeituosos ou serviços inadequados.
      </li>
    </ul>
  </Text>
  <Footer />
</Layout>
