---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../sections/Hero.astro'
import Text from '../../components/Text/Text.astro';
import Footer from '../../components/Footer/Footer.astro'
---

<Layout title='Serviços | Direito do Consumidor'>
    <Hero client:load/>
    <Text title='Direito do Consumidor'>
        <ul class="my-10">
            <li class="text-[1.6rem] font-semibold text-[#acbcfc]">Seus Direitos Como Consumidor:</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Como consumidor, você merece produtos e serviços de qualidade, além de práticas comerciais honestas.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Estou aqui para garantir que suas queixas sejam ouvidas e para buscar a compensação que você merece.</li>
        </ul>
        <ul class="my-10">
            <li class="text-[1.6rem] font-semibold text-[#acbcfc]">Proteção contra Práticas Enganosas:</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Práticas enganosas e informações falsas são inaceitáveis no mercado.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Minha abordagem rigorosa contra essas práticas garante que sua confiança como consumidor seja restaurada.</li>
        </ul>
        <ul class="my-10">
            <li class="text-[1.6rem] font-semibold text-[#acbcfc]">Ação Legal Eficiente:</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Quando as negociações não são suficientes, estou preparado para levar seu caso aos tribunais.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Minha dedicação em representar seus interesses garantirá que você não seja prejudicado por produtos defeituosos ou serviços inadequados.</li>
        </ul>
    </Text>
    <Footer/>
</Layout>