---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../sections/Hero.astro'
import Text from '../../components/Text/Text.astro';
import Footer from '../../components/Footer/Footer.astro'
---

<Layout title='Serviços | Direito do Trabalho'>
    <Hero client:load/>
    <Text title='Direito do Trabalho'>
        <ul class="my-10">
            <li class="text-[1.6rem] font-semibold text-[#acbcfc]">Defenda seus Direitos no Ambiente de Trabalho:</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Em um mercado de trabalho dinâmico, é fundamental conhecer e defender seus direitos.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Como especialista em Direito do Trabalho, estou focado em garantir que seus interesses sejam protegidos.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Desde questões salariais até condições de trabalho justas, estou aqui para representar você.</li>
        </ul>
        <ul class="my-10">
            <li class="text-[1.6rem] font-semibold text-[#acbcfc]">Empregadores: Orientação para Conformidade Legal:</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Se você é um empregador, é essencial estar ciente das leis trabalhistas vigentes.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Conte com meu conhecimento para ajudá-lo a implementar políticas e práticas que estejam em conformidade com a legislação.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Evite litígios e crie um ambiente de trabalho saudável e equilibrado para seus funcionários.</li>
        </ul>
        <ul class="my-10">
            <li class="text-[1.6rem] font-semibold text-[#acbcfc]">Negociação e Resolução de Conflitos:</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Além de defender seus direitos, estou aqui para buscar soluções amigáveis para conflitos trabalhistas.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">A mediação e negociação são estratégias que podem economizar tempo, dinheiro e evitar desgastes emocionais.</li>
            <li class="text-[1.2rem] font-normal text-light my-3">Minha experiência em resolução de disputas será uma vantagem na busca pela melhor solução para você.</li>
        </ul>
    </Text>
    <Footer/>
</Layout>