---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Office from '../sections/Office.astro';
import Goals from '../sections/Goals.astro';
import Services from '../sections/Services.astro';
---

<Layout title="Home | Alexsandro Gomes">
	<main>
		<Hero />
		<Office />
		<Goals/>
		<Services/>
	</main>
</Layout>

