  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  
  li {
    list-style-type: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  