<footer class="bg-primary p-5">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-3">
        <div class="my-auto">
            <img src="logo-footer.svg" alt="Logo" >
        </div>

        <div class="mx-auto mt-10 text-center sm:text-start sm:mt-[12px]">
            <ul class="text-light">
                <li class="font-bold text-[1rem]">Mapa do site</li>
                <a><li class="text-[1rem] mt-[12px]">Home</li></a>
                <a><li class="text-[1rem] mt-[12px]">Sobre</li></a>
                <a><li class="text-[1rem] mt-[12px]">Contato</li></a>
                <a><li class="text-[1rem] mt-[12px]">Serviços</li></a>
            </ul>
        </div>

        <div class="mx-auto mt-10 text-center sm:text-start sm:mt-[12px]">
            <ul class="text-light">
                <li class="font-bold text-[1rem]">Contato</li>
                <a><li class="text-[1rem] mt-[12px]">(11) 987155928</li></a>
                <a><li class="text-[1rem] mt-[12px]">contato@alexandro.com</li></a>
                <a><li class="text-[1rem] mt-[12px]">Seg-Sex: 08h às 18h</li></a>
            </ul>
            <div class="flex gap-3 mt-[12px] justify-center sm:justify-normal">
                <a><img src="facebook-footer.svg" alt="Facebook"></a>
                <a><img src="linkedin-footer.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>
</footer>