<section class="mt-28 lg:mt-40 xl:mt-28 mb-10">
  <div
    class="container mx-auto flex flex-wrap justify-center gap-10 xl:mt-0 xl:gap-0 xl:justify-between"
  >
    <div
      class="w-[310px] h-[320px] sm:pb-0 sm:h-[390px] sm:w-[390px] bg-terciary rounded-full"
    >
      <img class="mx-auto mt-[38px]" src="rocket.svg" alt="Foguete" />
      <h4
        class="uppercase font-bold text-light text-[1.2rem] text-center mt-[25px]"
      >
        MISSÃO
      </h4>
      <ul class="font-medium text-[1.2rem] text-light mt-[40px] text-center">
        <li>Respeito</li>
        <li>Satisfação do cliente</li>
        <li>Cuidado</li>
      </ul>
    </div>
    <div
      class="w-[310px] h-[320px] sm:pb-0 sm:h-[390px] sm:w-[390px] bg-primary rounded-full"
    >
      <img class="mx-auto mt-[38px]" src="heart.svg" alt="Coração" />
      <h4
        class="uppercase font-bold text-light text-[1.2rem] text-center mt-[25px]"
      >
        VALORES
      </h4>
      <ul class="font-medium text-[1.2rem] text-light mt-[40px] text-center">
        <li>Ética</li>
        <li>Profissionalismo</li>
        <li>Inovação</li>
      </ul>
    </div>
    <div
      class="w-[310px] h-[320px] sm:pb-0 sm:h-[390px] sm:w-[390px] bg-secondary rounded-full"
    >
      <img class="mx-auto mt-[38px]" src="eye.svg" alt="Olho" />
      <h4
        class="uppercase font-bold text-light text-[1.2rem] text-center mt-[25px]"
      >
        VISÃO
      </h4>
      <ul class="font-medium text-[1.2rem] text-light mt-[40px] text-center">
        <li>Referência</li>
        <li>Aperfeiçoamento</li>
        <li>Excelência</li>
      </ul>
    </div>
  </div>
</section>
