<section class="mt-10 lg:mt-96 xl:mt-60 lg:py-20" id="sobre-nós">
  <div class="container mx-auto lg:relative">
    <h1
      class="font-bold text-primary text-[1.8rem] text-center pl-2 lg:text-start xl:pl-0"
    >
      Bem-vindo ao Escritório Alexsandro Gomes Advogados!
    </h1>

    <div class="lg:relative mt-10">
      <img
        class="mb-10 w-[310px] sm:mx-auto lg:mx-0"
        src="alexandre gomes.png"
        alt="Alexandre Gomes"
      />

      <div
        class="bg-[#465AAC] p-5 rounded-[5px] bg-opacity-95 mx-auto top-5 sm:pb-5 right-[100px] lg:absolute lg:w-[800px] xl:right-[100px]"
      >
        <img class="mx-auto" src="rectangle.svg" alt="Retângulo" />
        <p
          class="mt-[35px] lg:mt-[10px] mx-auto text-center text-light font-medium xl:mt-[35px] text-[1.1rem]"
        >
          Contamos com uma equipe altamente qualificada e combinamos nossa
          expertise com tecnologia avançada para proporcionar a você um
          atendimento personalizado e diferenciado. Em nosso escritório
          priorizamos a qualidade superior em todos os aspectos de nossos
          serviços.
        </p>
        <p
          class="mt-[35px] lg:mt-[10px] mx-auto text-center text-light font-medium xl:mt-[35px] text-[1.1rem]"
        >
          Nossa atuação está em compreender com profundidade suas necessidades e
          oferecer soluções jurídicas sob medida. Trabalhamos de perto com você,
          garantindo um relacionamento próximo e exclusivo, para alcançar os
          melhores resultados possíveis.
        </p>
        <p
          class="mt-[35px] lg:mt-[10px] mx-auto text-center text-light font-medium xl:mt-[35px] text-[1.1rem]"
        >
          Seja você um cliente corporativo ou individual, tenha seus direitos
          protegidos de forma estratégica, ágil e firme. Estamos prontos para
          ajudá-lo a superar os desafios legais e alcançar seus objetivos com
          confiança e tranquilidade.
        </p>
        <p
          class="mt-[35px] lg:mt-[10px] mx-auto text-center text-light font-medium xl:mt-[35px] text-[1.1rem]"
        >
          Entre em contato conosco hoje mesmo e descubra como podemos fazer a
          diferença em sua jornada jurídica. Estamos ansiosos para ajudá-lo a
          navegar pelo complexo mundo jurídico com eficiência e excelência.
        </p>
        <div class="text-center">
          <a href="#contato"
            ><button
              class="hover:bg-primary ease-linear transition delay-50 bg-[#000] w-[280px] h-[40px] text-light rounded-[20px] mt-[35px] xl:mt-[35px] sm:w-[350px]"
              >FAÇA SUA CONSULTA</button
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
