<section class="mt-10 lg:mt-96 xl:mt-60">
    <div class="container mx-auto lg:relative">
        <h1 class="font-bold text-primary text-[1.8rem] text-center pl-2 lg:text-start xl:pl-0">SOBRE O ESCRITÓRIO</h1>

        <div class="lg:relative mt-10">
            <img class="mb-10 mx-auto w-[310px] sm:w-[500px] lg:pl-10 lg:mx-0 lg:w-[700px] xl:w-[700px] xl:pl-0 xl:h-[400px]" src="office.png" alt="Escritório">

            <div class="bg-[#465AAC] py-4 rounded-[5px] bg-opacity-95 w-[310px] mx-auto top-10  sm:pb-5 right-[100px] sm:h-[400px] sm:w-[500px] lg:absolute lg:w-[650px] xl:right-[300px] ">
                <img class="my-[10px] mx-auto" src="rectangle.svg" alt="Retângulo">
                <p class="mt-[35px] lg:mt-[10px] mx-auto text-center text-light font-medium w-[250px] sm:w-[400px] xl:mt-[35px] ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                <div class="text-center">
                <button class="hover:bg-primary bg-[#000] w-[280px] h-[40px] text-light rounded-[20px] mt-[35px] xl:mt-[35px] sm:w-[350px]">FAÇA SUA CONSULTA</button>
            </div>
            </div>
        </div>
    </div>
</section>