<section class="mt-60">
    <div class="container mx-auto relative">
        <h1 class="font-bold text-primary text-[1.8rem]">SOBRE O ESCRITÓRIO</h1>

        <div class="relative mt-10">
            <img src="office.png" alt="Escritório">

            <div class="bg-[#465AAC] rounded-[5px] bg-opacity-95 w-[650px] h-[400px] absolute top-10 right-[300px]">
                <img class="mt-[35px] mx-auto" src="rectangle.svg" alt="Retângulo">
                <p class="mt-[35px] mx-auto text-center text-light font-medium w-[507px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                <div class="text-center">
                <button class="hover:bg-primary bg-[#000] w-[350px] h-[40px] text-light rounded-[20px] mt-[35px]">FAÇA SUA CONSULTA</button>
            </div>
            </div>
        </div>
    </div>
</section>